.wholeDiv{
    height: 100vh;
    width: 100vw;
}

.divider{
    display: flex;
    flex-direction: column;
}

.headerDiv{
    height: 80px;
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoButton{
    width: 100px;
    text-align: center;
    border: 1px solid black;
    margin: 25px;
    margin-left: 50px;
}

.helpImg{
    background: url('/src/Images/help.png') no-repeat;
    height: 30px;
    width: 30px;
    margin: 30px;
}

.tabBody{
    display: flex;
    flex-direction: row;
}

.tabLeft{
    width: 240px;
    height: 87vh;
    background-color: white;
}

.tabContentDiv{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 20px;
}

.homeImg{
    background: url('/src/Images/home.png') no-repeat;
    height: 30px;
    width: 30px;
    margin-top: 1px;
}

.allSprImg{
    background: url('/src/Images/home.png') no-repeat;
    height: 30px;
    width: 30px;
    margin-top: 1px;
}

.newSpr{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 20px;
    width: 200px;
    border: 1px solid #6A5AE0;
    background-color: #6A5AE0;
    border-radius: 4px;
    color: white;
    justify-content: center;

}

.newSprImg{
    background: url('/src/Images/Union\ 14.png')no-repeat;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-bottom: -8px;
}

.dropDownImg2 {
    background: transparent url('/src/Images/dropdown.png') no-repeat;
    height: 15.96px;
    width: 11.14px;
    margin-top: 8px;  
}

.leftContentText {
    display: flex;
    margin-left: 12px;
}

.tabRight{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.tabRightHeader{
    padding: 8px;
    height: 40px;
}

.titleCard{
    height: 40px !important;
    justify-content: space-around;
    display: flex;
    flex-direction: row !important;
    background-color: gainsboro !important;
    border:0px solid gainsboro !important;
}

.searchBar{
    border: 1px solid #707070;
    width: 35%;
    height: 40px;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 16px;
}

.searchImage{
    margin: 10px;
    background: url('../../Images/search-img.png') no-repeat;
    height: 30px;
    width: 30px;
}

.searchInput{
    width: 75%;
    display: flex;
    background-color: gainsboro !important;
    border: 0px solid gainsboro;
    outline: none;
}

.priorityBar{
    border: 1px solid #707070 !important;
    width: 15%;
    height: 40px;
}

.css-1s2u09g-control{
    background-color: gainsboro !important;
}

.dueDateBar{
    border: 1px solid #707070;
    width: 20%;
    height: 40px;
}

.statusBar{
    border: 1px solid #707070;
    width:20%;
    height: 40px;
}

.clearFilters{
    /* text-align: center; */
    padding: 8px;
}

.sx{
    border-bottom: 1;
    border-color: "divider";
}

.modalHeadFootBgColor {
    background-color: #F7F6FD;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.demo {
    margin: 20px auto;
    align-items: center;
    border-width: 2px;
    width: 150px !important;
    height: 100px;
    padding-bottom: 25px;
    border-color: rgb(219, 213, 213);
    padding-top: 25px;
}

.outcomeImage {
    padding: 5px;
}










/* .tab-right-body{
    padding: 8px;
    height: 60px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.search-bar{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 30px;
    border: 1px solid #707070;
    margin-left: 20px;
    border-radius: 16px;
    margin-top: 15px;
}

.search-img{
    margin-top: 7px;
    background: url("/src/Images/search-img.png") no-repeat;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.search-input{
    width: 270px !important;
    background-color: gainsboro !important;
    background-clip: inherit;
    height: 27px;
}

.drop-down-div {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 136.71px;
    margin-top: 15px;
    height: 30px;
    border: 1px solid #707070;
    border-radius: 4px;
    justify-content: space-around;
}

.drop-down-text {
    display: flex;
    margin-top: -8px;
}

.drop-down-img {
    background: transparent url('/src/Images/dropdown.png') no-repeat;
    height: 15.96px;
    width: 11.14px;
    margin-top:1px;  
} 



.clr-filter{
    margin-top: 15px;
} */


/* .modalContent {
    align-content: center;
    top: 90px;
} */



/* .modalContent {
    align-content: center;
    top: 90px;
}




.titleCard{
    height: 40px !important;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    background-color: #707070 !important;
} */
