.modal-head-foot-bg-color{
    background-color: #F7F6FD;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.out-Text {
    height: 20px;
    width: fit-content;
    float: left;
    margin-left: -20px;
}

.out-TextField {
    height: 25px;
    width: fit-content;
    border: 1px solid #ced4da;
    float: left;
    border-radius: 4px;
}

.due-Text {
    height: 20px;
}

.due-TextField {
    height: 25px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.priority-Text {
    height: 20px;
    width: 50px;
}

.high-Img {
    background: transparent url('/src/Images/High.png');
    height: 24.5px;
    width: 28px;
    float: left;
}

.high-Text {
    float: left;
}

.medium-Img {
    background: transparent url('/src/Images/Medium.png');
    height: 24.5px;
    width: 28px;
    float: left;
}

.medium-Text {
    float: left;
}

.low-Img {
    background: transparent url('/src/Images/Low.png');
    height: 24.5px;
    width: 28px;
    float: left;
}

.low-Text {
    float: left;
}

.link-img{
    background: transparent url('/src/Images/link.png') 0% 0% no-repeat padding-box;
    height: 20px;
    width: 20px;
}
.req {
    width: 100px;
    margin-left: 5px;
    margin-top: 18px;
}

.vl {
    border-left: 1px solid gray;
    height: 60px;
}

.postponebox {
    margin-top: 10px;
    vertical-align: top;
    text-align: left;
    justify-content: left;
    display: flex;
    border-radius: 5px;

}

.postpone {
    margin-left: 15px;
}

.contentbox{
    height: 200px; 
    margin-top: 15px; 
    vertical-align: top;
}

.content{
    margin-left: 15px;
    margin-top: 10px;
}

.addlinkbox{
    height: 30px;
    line-height: 18px; 
    margin-top: 11px; 
    border-radius: 5px;
    padding-bottom: 10px;
    padding-right: 15px;
    text-align: justify;
}

.input-group-text{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 10px;
}

.link-text{
    margin-top: 10px;
}

.add{
    margin-left: 15px; 
}

.align{
    margin-top: 10px;
}

.input-group-text {
    background-color: white !important;
}

.vline{
    border-left: 1px solid gray;
    height: 30px;  
}

.modal-foot-align-left{
    justify-content: left;
}

.modal-foot-align-right{
    justify-content: right;
}

.foot-align{
    justify-content: space-between;
}

.delete-img{
    height: 19.69px;
    width: 16px;
    margin-right: 750px; 
    background: transparent url('/src/Images/delete-img.png') 0% 0% no-repeat padding-box;
}

.btn-save{
    border: 1px solid #6A5AE0;
    width: 118px;
    height: 40px;
    float: left;
    border-radius: 4px;
}

.modal{
    --bs-modal-footer-gap: -2.5rem !important;
}

.btn-send{
    margin-left: 8px;
    border: 1px solid #6A5AE0;
    width: 120px;
    height: 40px;
    background-color: #6A5AE0;
    border-radius: 4px;
}

.mt-3{
    float: right;
}

@media only screen and (min-width:700px)and(max-width:992px) {
    .wi-modal {
        width: 700px;
    }
    .content{
        width: fit-content !important;
    }
}
