.contentAllSpr {
    align-items: center;
    margin: 0;
    margin-bottom: 5px;
    justify-content: space-evenly;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    display: flex;
    min-height: 49px;
    cursor: pointer;
}

.alignItemsCss{
    align-items: center;
}

.priorityImage {
    padding: 0;
    margin: auto;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
}

.titleText {
    text-align: left;
}

.outcomeText {
    text-align: center;
    padding: 0;
}

.fromToImage {
    padding: 0;
    margin: auto;
    height: 25px;
    width: 30px !important;
    align-items: center;
    justify-content: center;
}

.dataAndStatusText {
    text-align: center !important;
    padding: 0px;
    margin-left: 0px;
    justify-content: center;
}

.headerTitle {
    text-align: center;
    padding: 2px;
}