.topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
}

.headerTitle {
    text-align: center;
    padding: 2px;
}

.sparrowCard {
    margin-bottom: 20px;
}

.contentAllSpr {
    align-items: center;
    margin: 0;
    margin-bottom: 5px;
    justify-content: space-evenly;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    display: flex;
    min-height: 49px;
    cursor: pointer;
}

.contentAllSprr {
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 20px;
    background: 0% 0% no-repeat padding-box;
    border-radius: 8px;
    display: flex;
    min-height: 49px;
    cursor: pointer;
}

.priorityImage {
    padding: 0;
    margin: auto;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
}

.titleText {
    text-align: left;
}

.outcomeText {
    text-align: center;
    padding: 0;
}

.fromToImage {
    padding: 0;
    margin: auto;
    height: 25px;
    width: 30px !important;
    align-items: center;
    justify-content: center;
}

.dataAndStatusText {
    text-align: center !important;
}

.modalView {
    display: flex;
    flex-direction: row;
}

.leftSideModal {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.leftSideHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftHeader {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 6px 0px 0px 0px;
}

.dateText {
    text-align: center;
}

.dateTextField {
    height: fit-content;
    border-radius: 4px;
    border: 1px solid #ced4da;
    margin: 0px 0px 0px 10px;
}

.rightHeader {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
}

.declineButton {
    width: 40%;
    padding: 5px;
    border: 1px solid red;
    margin: 0;
    text-align: center;
    color: red;
    border-radius: 4px;
}

.acceptButton {
    width: 40%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 0;
    text-align: center;
    background-color: #6A5AE0;
}

.leftSideTopBody {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.titleDiv {
    font-size: 18px;
    font-weight: bold;
}

.contentDiv {
    margin-top: 16px;
    color: #0C092A;
    text-align: justify;
}

.leftSideBottomBody {
    display: flex;
    flex-direction: column;
}

.commentsHeader {
    margin-top: 20px;
    color: #0C092A;
}

.leftSideBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imageDiv {
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.slackLogo {
    background: url("../../Images/slack.png")no-repeat;
    height: 20px;
    width: 20px;
    margin: 0px;
}

.outlookLogo {
    background: url("../../Images/outlook.png")no-repeat;
    height: 20px;
    width: 20px;
    margin: 0px;
}

.teamsLogo {
    background: url("../../Images/teams.png")no-repeat;
    height: 20px;
    width: 20px;
    margin: 0px;
}

.mailLogo {
    background: url("../../Images/gmail.png")no-repeat;
    height: 20px;
    width: 20px;
    margin: 0px;
}

.jiraLogo {
    background: url("../../Images/jira.png")no-repeat;
    height: 20px;
    width: 20px;
    margin: 0px;
}

.verticalLine {
    height: '100%';
    width: 4;
    background-color: '#909090';
}

.rightSideModal {
    width: 40%;
    background-color: #F7F6FD;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.rightSideHeader {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.rightSideHeaderDetails {
    padding: 10px;
}

.Details1 {
    display: flex;
    flex-direction: row;
}

.textDetails {
    width: 40%;
}

.imageTextDetails {
    display: flex;
    flex-direction: row;
}

.imagePriority {
    background: url("../../Images/High.png")no-repeat;
    height: 30px;
    width: 30px;
}

.imageOutcome {
    background: url("../../Images/decision_required.png")no-repeat;
    width: 30px;
    height: 30px;
}

.imageCalendar {
    background: url("../../Images/calendar.png")no-repeat;
    height: 30px;
    width: 30px;
}

.imageRequestor{
    background: url("../../Images/user_male.png")no-repeat;
    height: 20px;
    width: 30px;
}

.statusDiv {
    width: 90px;
    border: 1px solid #74BBFE;
    text-align: center;
    color: #74BBFE;
    border-radius: 16px;
}

.dateDiv {
    display: flex;
    flex-direction: row;
    width: 120px;
    border: 1px solid gray;
    height: 30px;
    padding: 2px 0px 0px 5px;
    border-radius: 4px;
}

.textPadding {
    padding-left: 10px;
}

.rightSideBody{
    padding: 10PX;
    display: flex;
    flex-direction: column;
}

.vline {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.alignCss{
    text-align: center;
    margin: 0px;
}
  
